/* ==========================================================================
   Stylus
   ========================================================================== */
.box {
  height: 100px;
  line-height: -50px -1;
  background: #fff6de;
}
.box,
.box:hover {
  background: none;
}
