/* Buttons

Buttons can and should be clicked.

Markup: <button class="button {$modifiers}">

:hover - Highlight the button when hovered.
.vip - Displays a very important button

Styleguide 1.1
*/

.button {
  background-color: blue;
  text-decoration: none;
  font-size: 20px;
  &:hover {
    background-color: lighten(blue,20%);
  }
  &.vip {
    font-size: 40px;
  }
}
