<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Yi Cao is a Front end developer and an ex-UX designer">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  {{{sections.css}}}
  <script src="/bower_components/modernizr/modernizr.js"></script>
  <!--[if lt IE 9]>
  <script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="/bower_components/respond/dest/respond.src.js"></script>
  <![endif]-->
  <script data-main="/scripts/main-portfolio" src="/bower_components/requirejs/require.js"></script>
</head>
<body>
  <div class="yidea">
    {{{body}}}
  </div>
</body>
</html>
