{{#section "css"}}
  <link rel="stylesheet" href="/styles/app/demo.css">
{{/section}}

<div id="book">
  <canvas id="pageflip-canvas"></canvas>
  <div id="pages">
    <!-- page 1 content-->
    <section>
      <div>
        page 1
      </div>
    </section>
    <!-- page 2 content-->
    <section>
      <div>
        page 2
      </div>
    </section>
  </div>
</div>
