{{#section "css"}}
  <link rel="stylesheet" href="/styles/app/portfolio.css">
{{/section}}

<!--TODO: font, header adaptive, github, iconYidea,masonary, interactive above fold, grunt for minify, back to top, playground/lab-->

<header class="header navbar-fixed-top">
  <div class="container">
    <h1 class="logo pull-left">
      <a href="/">
        <img src="/images/portfolio/work/final/yicao_logo_1.png" alt="Yi Cao"/>
        <span>Yi Cao</span>
      </a>
    </h1>
    <nav class="navbar-right" role="navigation">
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <!--<li><a href="#lab">Lab</a></li>-->
          <!--<li><a href="#playground">Playground</a></li>-->
        </ul>
      </div>
    </nav>
  </div>
</header>

<!--home: animation-->
<section class="page page-bg" id="home">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="header-animate">
          Hi, I'm <span id="typing"></span>
        </h2>
        <h3 class="sub-header" id="typing-after">A Front end developer and ex-UX designer from Silicon Vally.</h3>
      </div>
    </div>
  </div>
</section>

<!--about-->
<section class="page" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>About</h2>
        <figure>
          <img class="img-circle" src="/images/portfolio/photo.jpg" alt="Yi Cao photo"/>
        </figure>
        <div class="about-contact">
          <ul class="nav nav-pills">
            <li>
              <a href="https://github.com/yidea" title="github">
                <i class="fa fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/Yidea" title="twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="www.linkedin.com/pub/yi-cao/18/253/234/" title="linkedin">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://delicious.com/yidea" title="delicious">
                <i class="fa fa-delicious"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="about-text">
          <!--I have a passion for front end developing, creating functional, intuitive and elegant products.-->
          <p>I'm currently working in WalmartLabs Search Frontend team. Before that I have designed, prototyped, developed products related to network management, marketing analytics and Ads publishing. My education background is in HCI, Computer Information System and Fine Art.</p>
          <p>I'm passionate about front end technology (UI/Usability/Performance/Accessibility). I attends several JS/Node/UX related meetups and conferences in bay area after work to catch up with the latest.</p>
          <p>My current front-end stack: jQuery/Backbone/Stylus/Handlebars/Node.js/Express/Git, and Unit testing with Mocha/Chai/Sinon. I'm also interested in Polymer, Angular.js and D3.js.</p>
          <p>I lives in Mountain View, CA with my wonderful wife and a cat "CaoCao"</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--experience-->
<section class="page page-bg-plain" id="experience">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Experience</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="pfold">
              <!--row 1-->
              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_walmartlab_140x140.png" alt="walmartlabs"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>At Walmartlabs, I'm working in the Search team as a frontend engineer, responsible for walmart.com search/browse/category pages.</p>
                    <p>Frontend stack: jQuery/Underscore/Backbone/Thorax/Handlebars/Stylus/<br/>Mocha/Sinon/Java Spring/Node.js</p>
                    <!--<a class="btn btn-green" href="">Website</a>-->
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_walmartlab_140x140.png" alt="walmartlabs"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_pcs_140x140.jpg" alt="powercloud system"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>PowerCloud Systems is not only a spin-out of Palo Alto Research Center (PARC), but also the leading software platform provider for enabling Networking as a Service (NaaS) and partnering with Qualcomm, Dlink, ZyXEL.</p>
                    <p>I worked as UX/UI designer and Frontend developer.</p>
                    <p>Frontend stack: jQuery/jQueryUI/jQueryMobile/Sass/Compass/HighCharts/ <br/>Python Django</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_pcs_140x140.jpg" alt="powercloud system"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_agile_140x140.jpg" alt="AgilOne"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>AgilOne is a a cloud-based predictive marketing intelligence company. AgilOne’s SaaS parses through marketing data to give companies insight and analytics into current and future customer behavior.</p>
                    <p>I worked as UX/UI Designer and prototyper.</p>
                    <p>Prototype stack: Photoshop/Omnigraffle/jQuery/Asp.net</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_agile_140x140.jpg" alt="AgilOne"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_rockyou_140x140.jpg" alt="Rockyou"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>RockYou is a leading developer of social games on Facebook and advertising solutions for social media.</p>
                    <p>I worked as UI Engineer.</p>
                    <p>Frontend stack: jQuery/PHP</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_rockyou_140x140.jpg" alt="Rockyou"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <!--row 2-->
              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_netapp_140x140.jpg" alt="Netapp"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>NetApp provides integrated data storage solutions that enable you to leverage virtualization, cloud computing and storage efficiency to improve your business’ cost efficiency, agility and performance.</p>
                    <p>I worked as UX/UI Designer(Intern).</p>
                    <p>Design stack: Photoshop/Axure</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_netapp_140x140.jpg" alt="Netapp"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_sjsu_140x140.jpg" alt="SJSU career center"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>San Jose State University's mission is powering Silicon Valley, SJSU Career Center is the key to it, and the website wins several national education career site awards.</p>
                    <p>I worked as Web Developer & Accessibility Specialist.</p>
                    <p>Frontend stack: jQuery/Sass/Compass</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_sjsu_140x140.jpg" alt="SJSU career center"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_hfe_140x140.jpg" alt="SJSU HFE"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>The San Jose State University Human Factors and Ergonomics(HFE) Master's Degree Program is an interdisciplinary degree program. It prepared students for practice in HCI, Interaction Design, UX Research and Ergonomics.</p>
                    <p>I graduated in Master degree with focus on HCI, 2012. <br/> Final Project & Theses: "An Investigation into Different Strategies for Designing Online Form Validation using Eye tracker".</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_hfe_140x140.jpg" alt="SJSU HFE"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>

              <div class="uc-container">
                <div class="uc-initial-content">
                  <img src="/images/portfolio/logo_yidea_140x140.jpg" alt="Yidea studio"/>
                </div>
                <div class="uc-final-content">
                  <div class="final-left">
                    <p>I started Yidea Studio when I did the first freelance web development & design project in NYC, 2009.</p>
                    <p>I worked as Freelance Web Designer & Developer.</p>
                    <p>Frontend stack: jQuery/PHP Codeigniter</p>
                  </div>
                  <div class="final-right">
                    <img src="/images/portfolio/logo_yidea_140x140.jpg" alt="Yidea studio"/>
                  </div>
                  <i class="close"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--portfolio-->
<section class="page" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="mixitup col-md-12">
        <h2>Portfolio</h2>
        <ul class="portfolio-control nav">
          <li>
            <button class="filter btn" data-filter="all">All</button>
          </li>
          <li>
            <button class="filter btn" data-filter=".frontend">Frontend</button>
          </li>
          <li>
            <button class="filter btn" data-filter=".design">Design</button>
          </li>
          <li>
            <button class="filter btn" data-filter=".class">Class Project</button>
          </li>
        </ul>
        <ul class="portfolio-grid nav">
          <li class="mix design frontend" data-myorder="1">
            <img src="/images/portfolio/work/final/design_skydog_360.jpg" alt=""/>
            <div class="cover">
              <p>Skydog</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="2">
            <img src="/images/portfolio/work/final/design_agilone_360.jpg" alt=""/>
            <div class="cover">
              <p>Agilone</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="3">
            <img src="/images/portfolio/work/final/design_netapp_360.png" alt=""/>
            <div class="cover">
              <p>Netapp</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="4">
            <img src="/images/portfolio/work/final/design_rockyou_360.jpg" alt=""/>
            <div class="cover">
              <p>Rockyou</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="5">
            <img src="/images/portfolio/work/final/design_sjsu_360_1.jpg" alt=""/>
            <div class="cover">
              <p>SJSU Career Center</p>
            </div>
          </li>
          <li class="mix design" data-myorder="6">
            <img src="/images/portfolio/work/final/design_sjsu_360_2.jpg" alt=""/>
            <div class="cover">
              <p>SJSU Mobile</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="7">
            <img src="/images/portfolio/work/final/design_ajb_360.jpg" alt=""/>
            <div class="cover">
              <p>Jewish</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="8">
            <img src="/images/portfolio/work/final/design_baychi_360.jpg" alt=""/>
            <div class="cover">
              <p>Baychi</p>
            </div>
          </li>
          <li class="mix design frontend" data-myorder="9">
            <img src="/images/portfolio/work/final/design_ehss_360.jpg" alt=""/>
            <div class="cover">
              <p>EHSS.org</p>
            </div>
          </li>

          <li class="mix class design" data-myorder="10">
            <img src="/images/portfolio/work/final/class_tv_360.jpg" alt=""/>
            <div class="cover">
              <p>Future TV</p>
            </div>
          </li>
          <li class="mix class frontend" data-myorder="11">
            <img src="/images/portfolio/work/final/class_domino_360.jpg" alt=""/>
            <div class="cover">
              <p>Domino Pizza Redesign</p>
            </div>
          </li>
          <li class="mix class" data-myorder="12">
            <img src="/images/portfolio/work/final/class_ergonomics_360.jpg" alt=""/>
            <div class="cover">
              <p>Ergonomics</p>
            </div>
          </li>
          <li class="mix class" data-myorder="13">
            <img src="/images/portfolio/work/final/class_usability_360.jpg" alt=""/>
            <div class="cover">
              <p>Usability study</p>
            </div>
          </li>
          <li class="mix class" data-myorder="14">
            <img src="/images/portfolio/work/final/class_section508_360.jpg" alt=""/>
            <div class="cover">
              <p>Accessibility study</p>
            </div>
          </li>
          <li class="mix design" data-myorder="15">
            <img src="/images/portfolio/work/final/design_netapp_360_2.jpg" alt=""/>
            <div class="cover">
              <p>Netapp</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--lab-->
<!--<section class="page" id="lab">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12">-->
        <!--<h2>Lab</h2>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->

<!--timeline-->
<!--http://ricostacruz.com/jquery.transit/#top-->

<!--Easter egg-->

<!--Quotes-->
<!--Maister's First Law of Service: Service = Perception – Expectation-->
<!--Perceived Performance = f(Expected Performance, UX, Actural Performance)-->
<!--Experience = f(Perceived Performance, Task Completion)-->


<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>Made by</p>
      </div>
    </div>
  </div>
</footer>
