<div class="container">
  <section>
    <div class="app-container">
      <h2 class="app-title">Escape HTML/Script</h2>
      <div class="app-input">
        <form role="form">
          <textarea class="form-control" placeholder="Paste HTML need escaped here.." cols="30" rows="10"></textarea>
          <button type="submit" class="btn btn-primary">Run</button>
        </form>
      </div>
      <div class="app-output"></div>
    </div>
  </section>
</div>
