#book {
  position: absolute;
  left: 0;
  top: 0;
  width: 830px;
  height: 260px;
  background: url("/images/bookBG.png") no-repeat;
}
#pageflip-canvas {
  position: absolute;
  z-index: 100;
}
#pages section {
  position: absolute;
  top: 5px;
  left: 415px;
  width: 400px;
  height: 250px;
  background: url("/images/paper.png") no-repeat;
  overflow: hidden;
}
