$font-size-text = 13px;

// override browser style
ul {
  padding-left: 25px;
}

h2 {
  margin-top: 1em;
  padding-left: 0.5em;
  border-left: 4px solid #428bca;

  font-size: 16px;
}

h3, h4 {
  color: #666;
  font-size: 14px;
}

// common utils
.text-cross {
  text-decoration: line-through;
}


// override bootstrap
.page-header {
  margin: 1.5em 0 0;

  font-size: 19px;
  font-weight: 800;
}

ul, ol {
  h3, p {
    margin: 0;

    font-size: $font-size-text;
  }
}

.affix-top {
  position: fixed;
}

.affix, .affix-top {
  > .nav {
    margin-top: 20px;

    font-size: $font-size-text;

    >.active {
      > a{
        border-left: 2px solid #222;

        color: #222;
        font-weight: bold;
      }

      .active a {
        color: #222;
      }

    }

    a {
      padding: 0 0 2px 5px;

      color: #999;
      font-weight: 500;
    }

    .nav {
      a {
        padding: 4px 20px;

        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}

blockquote {
  padding: 5px 10px;
  margin-bottom: 10px;

  p {
    margin: 0;
    font-size: $font-size-text;
    font-style: italic;
  }
  cite a {
    font-size: $font-size-text;
  }
}

code {
  font-size: $font-size-text;
}

pre {
  padding: 0;
  margin: 0;

  background: #f9f2f4;

  code {
    color: #c7254e;
  }
}

// #JS
.js {
  .progress {
    display: inline-block;
    margin: 0;
    width: 180px;

    vertical-align: top;
  }
}
