$gutter = 20px;
$sidebar-width = 200px;
$sidebar-bg-color = #252733;
$header-height = 100px;
$font-size-text = 13px;

body {
  margin-left: $sidebar-width;
  background: #eee;
}

.container {
  padding: 0;
  margin: 0;
}

.sidebar {
  width: $sidebar-width;
  background: $sidebar-bg-color;

  .navbar-header {
    float: none;
    height: $header-height;

    background: #ddd;
  }

  .navbar-brand {
    float: none;
  }

  .navbar-collapse {
    padding: 0;

    .active {
      a {
        background-color: rgba(0,0,0,0.2);
        color: #fff;

        &:after {
          margin-right: -20px;
        }
      }
    }

    a {
      padding: 0 20px;

      background-color: transparent;
      color: #999;
      line-height: 60px;
      letter-spacing: 0.2px;
      font-weight: 400;

      &:hover {
        background-color: rgba(0,0,0,0.2);
        color: #fff;
      }

      &:after {
        content: "";
        float: right;
        margin-top: 20px;
        margin-right: -35px;
        width: 0;
        height: 0;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right: 10px solid #eee;

        transition: margin-right 0.3s ease-in;
      }
    }
  }
}

.page {
  .page-header {
    margin: 0;
    padding: 0 0 0 $gutter;
    width: 100%;

    background: #fff;
    box-shadow: 0 -1px 0 0 #fff,0 1px 2px 0 rgba(0,0,0,.1);
  }

  h1 {
    margin: 0;
    height: $header-height;

    font-weight: 400;
    font-size: 40px;
    line-height: @height;
  }

  .affix {
    z-index: 1;
    top: 0;
    left: $sidebar-width;
  }

  .container {
    margin-top: 100px;
    padding: $gutter;

    min-height: 700px;
  }
}

