<h2 id="array">Array</h2>
<p>JS array is essentially JS object (integer indices are converted to string), array is passed by reference (shallow
  copy)</p>
<iframe width="100%" height="350" data-src="http://jsbin.com/hupay/latest/embed?js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
