<section>
  <h1 class="page-header" id="dom">BOM</h1>
  <h2 id="date">Date</h2>
  <iframe width="100%" height="350" data-src="http://jsbin.com/nipaz/latest/embed?js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</section>
