<section>
  <h1 class="page-header" id="html5api">HTML5 API</h1>
  <h2 id="html5_pushstate">PushState</h2>
  <img src="https://g.twimg.com/imported-images/629b2e597a.png" alt="Diagram illustrating use of the HTML 5 History API">
  <h3>- Read</h3>
  <ul>
    <li><a href="https://blog.twitter.com/2012/implementing-pushstate-for-twittercom">https://blog.twitter.com/2012/implementing-pushstate-for-twittercom</a>
    </li>
    <li><a href="http://diveintohtml5.info/history.html">http://diveintohtml5.info/history.html</a></li>
    <li><a href="https://github.com/browserstate/history.js">https://github.com/browserstate/history.js</a></li>
  </ul>
  <iframe width="100%" height="350" data-src="http://jsbin.com/nocet/latest/embed?js" allowfullscreen="allowfullscreen" frameborder="0"></iframe>
</section>
